openapi: 3.2.0
info:
  title: Audius Users API
  description: '## Overview


    The Audius API provides REST access to the world''s largest open music catalog, built on the Open Audio Protocol.'
  version: '1.0'
  contact:
    name: Audius
    url: https://audius.co
  x-logo:
    url: https://audius.co/favicons/favicon.ico
servers:
- url: https://api.audius.co/v1
  description: Production
tags:
- name: Users
  description: User related operations
paths:
  /users:
    get:
      tags:
      - Users
      description: Gets a list of users by ID
      operationId: Get Bulk Users
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: id
        in: query
        description: The ID of the user(s)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get bulk users
      x-summary-source: derived
    post:
      tags:
      - Users
      description: Creates a new user
      operationId: Create User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      requestBody:
        x-codegen-request-body-name: metadata
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_user_request_body'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_user_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Create user
      x-summary-source: derived
  /users/address:
    get:
      tags:
      - Users
      description: Gets User IDs from any Ethereum wallet address or Solana account address associated with their Audius account.
      operationId: Get User IDs by Addresses
      parameters:
      - name: address
        in: query
        description: Wallet address
        required: true
        style: form
        explode: true
        example:
        - '0x1234567890abcdef1234567890abcdef12345678'
        - E2LCbKdo2L3ikt1gK6pwp1pDLuhAfHBNf6fEQXpAqrf9
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_ids_addresses_response'
      summary: Get user IDs by addresses
      x-summary-source: derived
  /users/handle/{handle}:
    get:
      tags:
      - Users
      description: Gets a single user by their handle
      operationId: Get User by Handle
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response_single'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user by handle
      x-summary-source: derived
  /users/handle/{handle}/tracks:
    get:
      tags:
      - Users
      description: Gets the tracks created by a user using the user's handle
      operationId: Get Tracks by User Handle
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort
        in: query
        description: '[Deprecated] Field to sort by'
        schema:
          type: string
          default: date
          enum:
          - date
          - plays
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get tracks by user handle
      x-summary-source: derived
  /users/handle/{handle}/tracks/ai_attributed:
    get:
      tags:
      - Users
      description: Gets the AI generated tracks attributed to a user using the user's handle
      operationId: Get AI Attributed Tracks by User Handle
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort
        in: query
        description: '[Deprecated] Field to sort by'
        schema:
          type: string
          default: date
          enum:
          - date
          - plays
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get AI attributed tracks by user handle
      x-summary-source: derived
  /users/search:
    get:
      tags:
      - Users
      description: Search for users that match the given query
      operationId: Search Users
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The search query
        schema:
          type: string
      - name: genre
        in: query
        description: The genres to filter by
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - relevant
          - popular
          - recent
      - name: is_verified
        in: query
        description: Only include verified users in the user results
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_search'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Search users
      x-summary-source: derived
  /users/verify_token:
    get:
      tags:
      - Users
      description: Verify if the given jwt ID token was signed by the subject (user) in the payload
      operationId: Verify ID Token
      parameters:
      - name: token
        in: query
        description: JWT to verify
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verify_token'
        '400':
          description: Bad input
          content: {}
        '404':
          description: ID token not valid
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Verify ID token
      x-summary-source: derived
  /users/{id}:
    get:
      tags:
      - Users
      description: Gets a single user by their user ID
      operationId: Get User
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response_single'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user
      x-summary-source: derived
    put:
      tags:
      - Users
      description: Updates an existing user profile
      operationId: Update User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      requestBody:
        x-codegen-request-body-name: metadata
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_user_request_body'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Update user
      x-summary-source: derived
  /users/{id}/albums:
    get:
      tags:
      - Users
      description: Gets the albums created by a user using their user ID
      operationId: Get Albums by User
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: recent
          enum:
          - recent
          - popular
      - name: query
        in: query
        description: Filter albums by name
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/albums_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get albums by user
      x-summary-source: derived
  /users/{id}/authorized_apps:
    get:
      tags:
      - Users
      description: Get the apps that user has authorized to write to their account
      operationId: Get Authorized Apps
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/authorized_apps'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get authorized apps
      x-summary-source: derived
  /grantees/{address}/users:
    get:
      tags:
      - Users
      description: Get all users who have authorized a particular grantee (developer app) identified by their wallet address. Supports pagination.
      operationId: Get Grantee Users
      parameters:
      - name: address
        in: path
        description: The wallet address of the grantee (developer app)
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: is_approved
        in: query
        description: If true, only return users where the grant has been approved. If false, only return users where the grant was not approved. If omitted, returns all users regardless of approval status.
        schema:
          type: boolean
      - name: is_revoked
        in: query
        description: If true, only return users where the grant has been revoked. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/followers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get grantee users
      x-summary-source: derived
  /users/{id}/balance/history:
    get:
      tags:
      - Users
      description: Get the user's historical portfolio balance data
      operationId: Get User Balance History
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: start_time
        in: query
        description: Start time for the balance history query (ISO 8601 format). Defaults to 7 days ago.
        required: false
        schema:
          type: string
          format: date-time
      - name: end_time
        in: query
        description: End time for the balance history query (ISO 8601 format). Defaults to now.
        required: false
        schema:
          type: string
          format: date-time
      - name: granularity
        in: query
        description: Data granularity. 'hourly' returns hourly data points, 'daily' returns daily aggregated data. Defaults to 'hourly'.
        required: false
        schema:
          type: string
          enum:
          - hourly
          - daily
          default: hourly
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/balance_history_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user balance history
      x-summary-source: derived
  /users/{id}/challenges:
    get:
      tags:
      - Users
      description: Gets all challenges for the given user
      operationId: Get User Challenges
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: show_historical
        in: query
        description: Whether to show challenges that are inactive but completed
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_challenges'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user challenges
      x-summary-source: derived
  /users/{id}/coins:
    get:
      tags:
      - Users
      description: Gets a list of the coins owned by the user and their balances
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
          default: 0
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
      operationId: Get User Coins
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_coins_response'
      summary: Get user coins
      x-summary-source: derived
  /users/{id}/coins/{mint}:
    get:
      tags:
      - Users
      description: Gets information about a specific coin owned by the user and their wallets
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: mint
        in: path
        description: The mint address of the coin
        required: true
        schema:
          type: string
          example: Dez1g5f3h4j5k6l7m8n9o0p1q2r3s4t5u6v7w8x9y0z
      operationId: Get User Coin
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_coin_response'
      summary: Get user coin
      x-summary-source: derived
  /users/{id}/collectibles:
    get:
      tags:
      - Users
      description: Get the User's indexed collectibles data
      operationId: Get User Collectibles
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collectibles_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user collectibles
      x-summary-source: derived
  /users/{id}/comments:
    get:
      tags:
      - Users
      description: Get user comment history
      operationId: Get User Comments
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_comments_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user comments
      x-summary-source: derived
  /users/{id}/connected_wallets:
    get:
      tags:
      - Users
      description: Get the User's ERC and SPL connected wallets
      operationId: Get connected wallets
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connected_wallets_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get connected wallets
      x-summary-source: derived
  /users/{id}/favorites:
    get:
      tags:
      - Users
      description: Gets a user's favorite tracks
      operationId: Get User Favorites
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/favorites_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user favorites
      x-summary-source: derived
  /users/{id}/followers:
    get:
      tags:
      - Users
      description: All users that follow the provided user
      operationId: Get Followers
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/followers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get followers
      x-summary-source: derived
  /users/{id}/follow:
    post:
      tags:
      - Users
      description: Follow a user
      operationId: Follow User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User followed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Follow user
      x-summary-source: derived
    delete:
      tags:
      - Users
      description: Unfollow a user
      operationId: Unfollow User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User unfollowed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Unfollow user
      x-summary-source: derived
  /users/{id}/grants:
    post:
      tags:
      - Users
      description: Create a grant (authorize an app to act on the user's behalf)
      operationId: Create Grant
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: The user ID (grantor)
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_grant_request_body'
      responses:
        '200':
          description: Grant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden (user ID does not match)
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Create grant
      x-summary-source: derived
  /users/{id}/grants/{address}:
    delete:
      tags:
      - Users
      description: Revoke a grant (remove app authorization)
      operationId: Revoke Grant
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: The user ID (grantor)
        required: true
        schema:
          type: string
      - name: address
        in: path
        description: The app API key (grantee address) to revoke
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Grant revoked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Revoke grant
      x-summary-source: derived
  /users/{id}/grants/approve:
    post:
      tags:
      - Users
      description: Approve a manager request (manager approves being added by the child user)
      operationId: Approve Grant
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: The user ID of the manager (grantee) approving the request
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approve_grant_request_body'
      responses:
        '200':
          description: Grant approved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Approve grant
      x-summary-source: derived
  /users/{id}/managers:
    post:
      tags:
      - Users
      description: Add a manager (authorize another user to act on your behalf)
      operationId: Add Manager
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: The user ID (child user adding the manager)
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add_manager_request_body'
      responses:
        '200':
          description: Manager added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Add manager
      x-summary-source: derived
    get:
      tags:
      - Users
      description: Gets a list of users managing the given user
      operationId: Get Managers
      parameters:
      - name: id
        in: path
        description: An id for the managed user
        required: true
        schema:
          type: string
      - name: is_approved
        in: query
        description: If true, only show users where the management request has been accepted. If false, only show those where the request was rejected. If omitted, shows all users regardless of approval status.
        schema:
          type: boolean
      - name: is_revoked
        in: query
        description: If true, only show users where the management request has been revoked. If false, only show those with a pending or accepted request. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managers_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get managers
      x-summary-source: derived
  /users/{id}/managers/{managerUserId}:
    delete:
      tags:
      - Users
      description: Remove a manager (revoke user-to-user grant). Can be called by the child user or the manager.
      operationId: Remove Manager
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: The user ID (child user whose manager is being removed)
        required: true
        schema:
          type: string
      - name: managerUserId
        in: path
        description: The user ID of the manager to remove
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Manager removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Remove manager
      x-summary-source: derived
  /users/{id}/following:
    get:
      tags:
      - Users
      description: All users that the provided user follows
      operationId: Get Following
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/following_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get following
      x-summary-source: derived
  /users/{id}/history/tracks:
    get:
      tags:
      - Users
      description: Get the tracks the user recently listened to.
      operationId: Get User's Track History
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/history_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user's track history
      x-summary-source: derived
  /users/{id}/listen_counts_monthly:
    get:
      tags:
      - Users
      description: Gets the listen data for a user by month and track within a given time frame.
      operationId: Get User Monthly Track Listens
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: start_time
        in: query
        description: Start time from which to start results for user listen count data (inclusive).
        required: true
        schema:
          type: string
      - name: end_time
        in: query
        description: End time until which to cut off results of listen count data (not inclusive).
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_track_listen_counts_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user monthly track listens
      x-summary-source: derived
  /users/{id}/muted:
    get:
      tags:
      - Users
      description: Gets users muted by the given user
      operationId: Get Muted Users
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get muted users
      x-summary-source: derived
    post:
      tags:
      - Users
      description: Mute a user
      operationId: Mute User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User muted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Mute user
      x-summary-source: derived
    delete:
      tags:
      - Users
      description: Unmute a user
      operationId: Unmute User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User unmuted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Unmute user
      x-summary-source: derived
  /users/{id}/mutuals:
    get:
      tags:
      - Users
      description: Get intersection of users that follow followeeUserId and users that are followed by followerUserId
      operationId: Get Mutual Followers
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mutual_followers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get mutual followers
      x-summary-source: derived
  /users/{id}/playlists:
    get:
      tags:
      - Users
      description: Gets the playlists created by a user using their user ID
      operationId: Get Playlists by User
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          default: recent
          enum:
          - recent
          - popular
      - name: query
        in: query
        description: Filter playlists by name
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/playlists_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get playlists by user
      x-summary-source: derived
  /users/{id}/purchasers:
    get:
      tags:
      - Users
      description: Gets the list of unique users who have purchased content by the given user
      operationId: Get purchasers
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: content_type
        in: query
        description: Type of content to filter by (track or album)
        schema:
          type: string
      - name: content_id
        in: query
        description: Filters for users who have purchased the given track or album ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get purchasers
      x-summary-source: derived
  /users/{id}/purchases/download:
    get:
      tags:
      - Users
      description: Downloads the purchases the user has made as a CSV file
      operationId: Download Purchases as CSV
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content: {}
      summary: Download purchases as CSV
      x-summary-source: derived
  /users/{id}/recommended-tracks:
    get:
      tags:
      - Users
      description: Gets the recommended tracks for the user
      operationId: Get User Recommended Tracks
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: time_range
        in: query
        description: The time range for the recommended tracks
        schema:
          type: string
          default: week
          enum:
          - week
          - month
          - allTime
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user recommended tracks
      x-summary-source: derived
  /users/{id}/related:
    get:
      tags:
      - Users
      description: Gets a list of users that might be of interest to followers of this user.
      operationId: Get Related Users
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: filter_followed
        in: query
        description: If true, filters out artists that the current user already follows
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/related_artist_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get related users
      x-summary-source: derived
  /users/{id}/remixers:
    get:
      tags:
      - Users
      description: Gets the list of unique users who have remixed tracks by the given user, or a specific track by that user if provided
      operationId: Get remixers
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: track_id
        in: query
        description: Filters for remixers who have remixed the given track ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/remixers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get remixers
      x-summary-source: derived
  /users/{id}/reposts:
    get:
      tags:
      - Users
      description: Gets the given user's reposts
      operationId: Get Reposts
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reposts'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get reposts
      x-summary-source: derived
  /users/{id}/sales/aggregate:
    get:
      tags:
      - Users
      description: Gets the aggregated sales data for the user
      operationId: Get Sales Aggregate
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sales_aggregate_response'
      summary: Get sales aggregate
      x-summary-source: derived
  /users/{id}/sales/download:
    get:
      tags:
      - Users
      description: Downloads the sales the user has made as a CSV file
      operationId: Download Sales as CSV
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content: {}
      summary: Download sales as CSV
      x-summary-source: derived
  /users/{id}/sales/download/json:
    get:
      tags:
      - Users
      description: Gets the sales data for the user in JSON format
      operationId: Download Sales as JSON
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: grantee_user_id
        in: query
        description: Optional receiving user ID for email decryption
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sales_json_response'
      summary: Download sales as JSON
      x-summary-source: derived
  /users/{id}/subscribers:
    get:
      tags:
      - Users
      description: All users that subscribe to the provided user
      operationId: Get Subscribers
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscribers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get subscribers
      x-summary-source: derived
    post:
      tags:
      - Users
      description: Subscribe to a user
      operationId: Subscribe to User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Subscribed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Subscribe to user
      x-summary-source: derived
    delete:
      tags:
      - Users
      description: Unsubscribe from a user
      operationId: Unsubscribe from User
      security:
      - BearerAuth: []
      - BasicAuth: []
      - OAuth2:
        - write
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Unsubscribed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/write_response'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: User not found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Unsubscribe from user
      x-summary-source: derived
  /users/{id}/supporters:
    get:
      tags:
      - Users
      description: Gets the supporters of the given user
      operationId: Get Supporters
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_supporters'
      summary: Get supporters
      x-summary-source: derived
  /users/{id}/supporting:
    get:
      tags:
      - Users
      description: Gets the users that the given user supports
      operationId: Get Supported Users
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_supported_users'
      summary: Get supported users
      x-summary-source: derived
  /users/{id}/tags:
    get:
      tags:
      - Users
      summary: Fetch most used tags in a user's tracks
      description: Gets the most used track tags by a user.
      operationId: Get Top Track Tags
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
  /users/{id}/tracks:
    get:
      tags:
      - Users
      description: Gets the tracks created by a user using their user ID
      operationId: Get Tracks by User
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort
        in: query
        description: '[Deprecated] Field to sort by'
        schema:
          type: string
          default: date
          enum:
          - date
          - plays
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: gate_condition
        in: query
        description: Filter by gate conditions (can be repeated)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ungated
            - usdc_purchase
            - follow
            - tip
            - nft
            - token
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get tracks by user
      x-summary-source: derived
  /users/{id}/tracks/count:
    get:
      tags:
      - Users
      description: Gets the count of tracks created by a user
      operationId: Get Tracks Count by User
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: filter_tracks
        in: query
        description: Filter by public tracks
        schema:
          type: string
          default: all
          enum:
          - all
          - public
      - name: gate_condition
        in: query
        description: Filter by gate conditions (can be repeated)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ungated
            - usdc_purchase
            - follow
            - tip
            - nft
            - token
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracks_count_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get tracks count by user
      x-summary-source: derived
  /users/{id}/tracks/download_count:
    get:
      tags:
      - Users
      description: Gets the total download count for all tracks (and stems) owned by the user. Use for dashboard "Downloads" tile.
      operationId: Get User Tracks Download Count
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_tracks_download_count_response'
        '500':
          description: Server error
          content: {}
      summary: Get user tracks download count
      x-summary-source: derived
  /users/{id}/tracks/remixed:
    get:
      tags:
      - Users
      description: Gets tracks owned by the user which have been remixed by another track
      operationId: Get User Tracks Remixed
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          default: 0
          type: integer
          minimum: 0
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_tracks_remixed_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user tracks remixed
      x-summary-source: derived
  /users/{id}/withdrawals/download:
    get:
      tags:
      - Users
      description: Downloads the USDC withdrawals the user has made as a CSV file
      operationId: Download USDC Withdrawals as CSV
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content: {}
      summary: Download USDC withdrawals as CSV
      x-summary-source: derived
  /users/{receiving_user_id}/emails/{grantor_user_id}/key:
    get:
      tags:
      - Users
      description: Gets the encrypted key for email access between the receiving user and granting user.
      operationId: Get User Email Key
      parameters:
      - name: receiving_user_id
        in: path
        description: ID of user receiving email access
        required: true
        schema:
          type: string
      - name: grantor_user_id
        in: path
        description: ID of user granting email access
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email_access_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user email key
      x-summary-source: derived
  /users/account/{wallet}:
    get:
      tags:
      - Users
      description: Gets the account for a given user
      operationId: Get User Account
      parameters:
      - name: wallet
        in: path
        description: Wallet address for the account
        required: true
        schema:
          type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_account_response'
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user account
      x-summary-source: derived
  /users/genre/top:
    get:
      tags:
      - Users
      description: Get the Top Users for a Given Genre
      operationId: Get Top Users In Genre
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: genre
        in: query
        description: List of Genres
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/top_genre_users_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get top users in genre
      x-summary-source: derived
  /users/handle/{handle}/reposts:
    get:
      tags:
      - Users
      description: Gets the user's reposts by the user handle
      operationId: Get Reposts by Handle
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: handle
        in: path
        description: A User handle
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reposts'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get reposts by handle
      x-summary-source: derived
  /users/subscribers:
    get:
      tags:
      - Users
      description: All users that subscribe to the provided users
      operationId: Bulk Get Subscribers
      parameters:
      - name: ids
        in: query
        description: User IDs to fetch subscribers for
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk_subscribers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Bulk get subscribers
      x-summary-source: derived
    post:
      tags:
      - Users
      description: Get all users that subscribe to the users listed in the JSON request
      operationId: Bulk Get Subscribers via JSON request
      parameters:
      - name: ids
        in: query
        description: User IDs to fetch subscribers for
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk_subscribers_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Bulk get subscribers via JSON request
      x-summary-source: derived
  /users/top:
    get:
      tags:
      - Users
      description: Get the Top Users having at least one track by follower count
      operationId: Get Top Users
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/top_users_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get top users
      x-summary-source: derived
  /users/{id}/favorites/tracks:
    get:
      tags:
      - Users
      description: Gets a user's favorite tracks
      operationId: Get User Favorite Tracks
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_library_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user favorite tracks
      x-summary-source: derived
  /users/{id}/feed:
    get:
      tags:
      - Users
      description: Gets the feed for the user
      operationId: Get User Feed
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: filter
        in: query
        description: Controls whether the feed is limited to reposts, original content, or all items
        schema:
          type: string
          default: all
          enum:
          - all
          - repost
          - original
      - name: tracks_only
        in: query
        description: Limit feed to only tracks
        schema:
          type: boolean
      - name: with_users
        in: query
        description: Include user data with feed items
        schema:
          type: boolean
      - name: followee_user_id
        in: query
        description: A list of followed users to prioritize in feed generation
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_feed_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get user feed
      x-summary-source: derived
  /users/{id}/library/albums:
    get:
      tags:
      - Users
      summary: Fetch a user's full library playlists
      description: Gets a user's saved/reposted/purchased/all albums
      operationId: Get User Library Albums
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A user ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: type
        in: query
        description: 'The type of entity to return: favorited, reposted, purchased, or all. Defaults to favorite'
        schema:
          type: string
          default: favorite
          enum:
          - all
          - repost
          - favorite
          - purchase
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - added_date
          - reposts
          - saves
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection_library_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
  /users/{id}/library/playlists:
    get:
      tags:
      - Users
      summary: Fetch a user's full library playlists
      description: Gets a user's saved/reposted/purchased/all playlists
      operationId: Get User Library Playlists
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A user ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: type
        in: query
        description: 'The type of entity to return: favorited, reposted, purchased, or all. Defaults to favorite'
        schema:
          type: string
          default: favorite
          enum:
          - all
          - repost
          - favorite
          - purchase
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - added_date
          - reposts
          - saves
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/collection_library_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
  /users/{id}/library/tracks:
    get:
      tags:
      - Users
      summary: Fetch a user's full library tracks
      description: Gets a user's saved/reposted/purchased/all tracks
      operationId: Get User Library Tracks
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A user ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: query
        in: query
        description: The filter query
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort method
        schema:
          type: string
          enum:
          - title
          - artist_name
          - release_date
          - last_listen_date
          - added_date
          - plays
          - reposts
          - saves
          - most_listens_by_user
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: type
        in: query
        description: 'The type of entity to return: favorited, reposted, purchased, or all. Defaults to favorite'
        schema:
          type: string
          default: favorite
          enum:
          - all
          - repost
          - favorite
          - purchase
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track_library_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
  /users/{id}/managed_users:
    get:
      tags:
      - Users
      description: Gets a list of users managed by the given user
      operationId: Get Managed Users
      parameters:
      - name: id
        in: path
        description: A user id for the manager
        required: true
        schema:
          type: string
      - name: is_approved
        in: query
        description: If true, only show users where the management request has been accepted. If false, only show those where the request was rejected. If omitted, shows all users regardless of approval status.
        schema:
          type: boolean
      - name: is_revoked
        in: query
        description: If true, only show users where the management request has been revoked. If false, only show those with a pending or accepted request. Defaults to false.
        schema:
          type: boolean
          default: false
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/managed_users_response'
        '400':
          description: Bad request
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get managed users
      x-summary-source: derived
  /users/{id}/purchasers/count:
    get:
      tags:
      - Users
      description: Gets the list of users who have purchased content by the given user
      operationId: Get purchasers count
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: content_type
        in: query
        description: Type of content to filter by (track or album)
        schema:
          type: string
      - name: content_id
        in: query
        description: Filters for users who have purchased the given track or album ID
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchasers_count_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get purchasers count
      x-summary-source: derived
  /users/{id}/purchases:
    get:
      tags:
      - Users
      description: Gets the purchases the user has made
      operationId: Get Purchases
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: The number of items to skip. Useful for pagination (page number * limit)
        schema:
          type: integer
      - name: limit
        in: query
        description: The number of items to fetch
        schema:
          type: integer
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: sort_method
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - content_title
          - artist_name
          - buyer_name
          - date
      - name: sort_direction
        in: query
        description: The sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: content_ids
        in: query
        description: Filters purchases by track or album IDs
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
      - name: Encoded-Data-Signature
        in: header
        description: The signature of data, used for signature recovery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchases_response'
      summary: Get purchases
      x-summary-source: derived
  /users/{id}/purchases/count:
    get:
      tags:
      - Users
      description: Gets the count of purchases the user has made
      operationId: Get Purchases Count
      security:
      - {}
      - OAuth2:
        - read
      parameters:
      - name: id
        in: path
        description: A User ID
        required: true
        schema:
          type: string
      - name: user_id
        in: query
        description: The user ID of the user making the request
        schema:
          type: string
      - name: content_ids
        in: query
        description: Filters purchases by track or album IDs
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: Encoded-Data-Message
        in: header
        description: The data that was signed by the user for signature recovery
        schema:
          type: string
[...]
