openapi: 3.2.0
info:
  title: Audius Cid Data API
  description: '## Overview


    The Audius API provides REST access to the world''s largest open music catalog, built on the Open Audio Protocol.'
  version: '1.0'
  contact:
    name: Audius
    url: https://audius.co
  x-logo:
    url: https://audius.co/favicons/favicon.ico
servers:
- url: https://api.audius.co/v1
  description: Production
tags:
- name: cid_data
paths:
  /cid_data/{metadata_id}:
    get:
      tags:
      - cid_data
      description: Get a metadata by CID
      operationId: Get Metadata
      parameters:
      - name: metadata_id
        in: path
        description: A Metdata CID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cid_data_response'
        '400':
          description: Bad request
          content: {}
        '500':
          description: Server error
          content: {}
      summary: Get metadata
      x-summary-source: derived
components:
  schemas:
    data_and_type:
      type: object
      properties:
        type:
          type: string
        data:
          $ref: '#/components/schemas/cid_data'
    cid_data:
      type: object
      properties:
        collectibles:
          type: object
          properties: {}
        associated_sol_wallets:
          type: object
          properties: {}
        associated_wallets:
          type: object
          properties: {}
    cid_data_response:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/data_and_type'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: 'OAuth 2.0 Authorization Code flow with PKCE for third-party applications.


        Allows apps to authenticate users and obtain access tokens scoped to read or read+write permissions on behalf of the user.


        **Scopes:**

        - `read` — Read-only access to the user''s public and private data.

        - `write` — Read and write access, allowing mutations on behalf of the user.


        **PKCE Required:**

        All authorization code requests must include `code_challenge` and `code_challenge_method=S256` parameters.

        '
      flows:
        authorizationCode:
          authorizationUrl: /v1/oauth/authorize
          tokenUrl: /v1/oauth/token
          scopes:
            read: Read-only access to user data
            write: Read and write access on behalf of the user
    BasicAuth:
      type: http
      scheme: basic
      description: 'HTTP Basic Authentication with Ethereum private key for write operations.


        **Authentication**


        Use HTTP Basic Authentication where the password field contains your Ethereum private key:

        ```

        Authorization: Basic <base64(username:privatekey)>

        ```


        The username can be any value. The password must be your Ethereum private key in hex format (with or without 0x prefix).


        Example:

        ```

        Authorization: Basic dXNlcm5hbWU6MHgxMjM0NTY3ODkwYWJjZGVmLi4u

        ```


        **How it works:**

        1. The API decodes the Basic Auth credentials

        2. Extracts the private key from the password field

        3. Derives the Ethereum address from the private key

        4. Uses this address for authorization checks


        **Authorization**


        The derived wallet address must be either:

        - The wallet of the user being acted upon (direct ownership)

        - A wallet with an approved, non-revoked grant for the user (manager mode)

        '
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The API bearer token or OAuth JWT token for the user.

        '
x-original-swagger-version: '2.0'
